html, body {
  font-family: 'Lexend', sans-serif;
}
.container {
  width: 1200px;
  margin: auto;
  display: flex;
}

.albums {
  width: 400px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul li {
  margin: 0;
  border-bottom: 1px solid rosybrown;
  padding: 10px;
  cursor: pointer;
}

.albums ul li:hover {
  background-color: aqua;
}

.selected {
  background-color: aqua;
  margin: 0;
  border-bottom: 1px solid rosybrown;
  padding: 10px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: cadetblue;
}

.main-photos {
  width: 900px;
}

.photos {
  width: 900px;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.photo {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

.img {
  width: 200px;
}

.no-user-selected {
  margin-top: 400px;
  margin-left: 300px;
  font-size: 26px;
  color: darkcyan;
}